body{
    background: #727272;

}

.navbar{
    height: 5%;
    background: rgba(0,0,0,0.0);
}

.navbar-toggle{
    background: #4177ff;
}

.icon-bar{
    color: black;
}

.navbar_logo{
    max-width: 400px;
    min-width: 200px;
    width:20%;
    height: auto;
}

.navbar-nav .nav{
    color: black;
}


div.navbar div.collapse ul li a.active{
    background: orange;
}

div.navbar div.collapse ul li a{
    color: black;
    padding: 15px 15px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 2px;
    background: #4177ff;
    font-weight: bolder;
}

div.navbar div.collapse ul li a:hover {
    background: orange;
}

.dropdown-menu{
    background: rgba(0,0,0,0.0);
    border: none;
}
