body{
    background: lightgrey

}

.navbar{
    height: 5%;
    background: rgba(0,0,0,0.0);
}

.navbar-toggle{
    background: blue;
}

.icon-bar{
    color: black;
}

.navbar_logo{
    max-width: 400px;
    min-width: 200px;
    width:30%;
    height: auto;
}

.navbar-nav .nav{
    color: black;
}

div.navbar div.collapse ul li a{
    color: black;
    padding: 20px 20px;
    border-radius: 5px;
    margin-top: 5px;
}

div.navbar div.collapse ul li a:hover{
    background: orange;
}
