body{
    background: #979797;

}

/******** NAVBAR *************/
.navbar{
    height: 5%;
    background: rgba(0,0,0,0.0);
}

.navbar-toggle{
    background: #4177ff;
    color:black;
}

.icon-bar{
    color: black;
    background: #464646;
}

.navbar_logo{
    max-width: 400px;
    min-width: 200px;
    width:30%;
    height: auto;
    background: #606060;
    border: 1px solid #4177ff;
    border-radius: 8px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;  
    -ms-interpolation-mode: nearest-neighbor;
}

.navbar-nav .nav{
    color: black;
}


div.navbar div.collapse ul li a.active{
    background: #ffa800;
}

div.navbar div.collapse ul li a{
    color: black;
    padding: 15px 15px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 2px;
    background: #4177ff;
    font-weight: bolder;
}

div.navbar div.collapse ul li a:hover {
    background: #ffa800;
}

.dropdown-menu{
    background: rgba(0,0,0,0.0);
    border: none;
}


/*******************************************************/

/************ modal/newsletter window ************************/
div.modal{
    background: rgba(0,0,0,0.5);
}

div.modal-dialog div.modal-content{
    background: #979797;
}

div.modal-header, div.modal-footer, div.modal-content{
    border-color: #a87124;

}

div.modal-header h2.modal-title{
    color: #1647c4;
}

div.modal-body{
    border-color: blue;
}

div.modal-footer{

}

button.close_btn{
    background: #ffa800;
    border-color:#a87124;
    color: black;

}

button.close_btn:hover{
    background: #a16a01;
}

button.sign_btn{
    background: #4177ff;
    border-color: #0430a0;
    color: black;
}

button.sign_btn:hover{
    color: black
}

.input_box{
    display: block;
    margin-bottom: 5px;
    width:50%;
}

.pre_sign_up_text, .sign_up_text{
    color: black;
    font-size: 15px;
}

.sign_up_text{
    display: none;
}

/************ shortcut to blogg ************/
.blogg_shortcut{
    background-color: #464646;
    color: black;
    margin-top: 5%;
    padding: 10px;
    border: 1px solid #a87124;

}

.blogg_image{
    width: 100%;
    border: 1px solid #4177ff;
}

.blogg_element{
    display: block;
    color:black;

}

div.row a:hover{
    color: #939393;
    text-decoration: none;
}

/********************************************************/


/************* main content **************************/
.main_container{
    background: #464646;
    margin-top: 5%;
    color: black;
    border: 1px solid #a87124;
}

.main_header{
    color: #4177ff;
    font-size: 40px;
    border-bottom: 2px solid #0430a0;
}

.main_element_left{
    width: 50%;
    float:left;
    padding-right: 10px;
}

.main_element_right{
    width: 50%;
    float:right;
    padding-left: 10px;
}

.main_element_header{
    color: #ffa800;
}

.main_element_content{

}

.main_element_img_left{
    width:50%;
    float:left;
    border: 1px solid #4177ff;

}

.main_element_img_right{
    width:50%;
    float:right;
    border: 1px solid #4177ff;
}
.clear{
    clear:both;
}


/**************************************************/

/*************** FOOTER ***************************/
.footer_container{
    background: #464646;
    color: black;
    margin-top: 10px;
    border: 1px solid #a87124;
}

.footer_header{
    color: #ffa800;
    padding-top: 5px;
}

.footer_element{
    margin-bottom: 5px;
    padding-bottom: 2px;
}

.copyright{
    color: #1856f1;
    margin-top: 10px;
    float:right;
    display: inline;
    background: #313131;
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid #8b5d1c;

}

.test{
  background: #4d4d4d;

}
